<div class="container">
  <nav class="navbar navbar-expand-lg bg-dark-subtle">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Gestión de inventario</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ps-3 ms-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add">Añadir producto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer
  class="footer bg-light text-center text-lg-start"
  style="position: sticky; bottom: 0; left: 0; right: 0; margin-top: 220px"
>
  <div class="text-center p-3">
    <p class="mb-0">
      Aplicación realizada por <strong>Sandra Rodríguez</strong> con Angular
      <i class="fa-brands fa-angular text-danger"></i> y Spring Boot
      <i class="fa-solid fa-leaf text-success"></i>
    </p>
    <div class="mt-2">
      <a
        href="https://github.com/srdgz"
        target="_blank"
        rel="noopener noreferrer"
        class="me-3"
      >
        <i class="fa-brands fa-square-github fs-4"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/sandra-rodriguez-reyes"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-brands fa-linkedin fs-4"></i>
      </a>
    </div>
  </div>
</footer>
